@import url("/fonts/fonts.css");

// Configuration
@import "bootstrap/scss/functions";

@import "@/scss/custom/variables";
@import "@/scss/custom/timeline";

$theme-colors: map-remove($theme-colors, "teal", "pink", "indigo", "purple", "blue", "orange", "cyan", "gray-500");

@debug $theme-colors;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

.min-vh-120 {
    min-height: 120px;
}

@media (hover: hover) {
    .button-hover:hover {
        animation: pulse 1s;
        box-shadow: 0 0 0 1em transparent;
    }
}

@media (hover: none) {
    .button-hover:active {
        animation: pulse 1s;
        box-shadow: 0 0 0 1em transparent;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba($primary, 0.4);
    }
}

.header {
    min-height: 5rem;
}

.hero-wrapper .air {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: url("/img/hero-bg.svg");
    background-size: 1000px 180px;
}

.hero-wrapper .air.air1 {
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
.hero-wrapper .air.air2 {
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
.hero-wrapper .air.air3 {
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
.hero-wrapper .air.air4 {
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes wave {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes wave2 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1000px;
    }
}

@media (max-width: 775.98px) {
    .hero {
        justify-content: end !important;
    }
}

@media (max-width: 991.98px) {
    .hero-img {
        width: 300px;
        height: auto;
    }
}

@media (max-width: 767.98px) {
    .hero-img {
        width: 200px;
        height: auto;
    }
}

.balanced-text {
    text-wrap: balance;
}

.review-body {
    position: relative;

    span {
        aspect-ratio: 1;
        border: inherit;
        -webkit-clip-path: polygon(0% 0, 0 100%, 100% 0);
        clip-path: polygon(0% 0, 0 100%, 100% 0);
        content: "";
        left: 40px;
        position: absolute;
        rotate: 45deg;
        top: 0;
        width: 40px;
        translate: 0 -50%;
    }
}

@media (max-width: 575.98px) {
    /* sm breakpoint */
    .no-vh-sm {
        height: auto !important;
    }
}

.card-gradient {
    background: $linear-gradient;
}

.h-30 {
    height: 30% !important;
}

@media (max-width: 576px) {
    .h-30 {
        height: auto !important;
    }
    .w-sm-100 {
        width: 100% !important;
    }
}

@media (min-width: 576px) {
    .w-sm-auto {
        width: auto !important;
    }
}

.nav-link.active {
    color: $navbar-active-color !important;
    background-color: $primary;
}

.nav-pills .nav-link.active {
    color: $text-dark !important;
    text-decoration: underline;
    opacity: 1 !important;
}

.navbar-toggler {
    --bs-navbar-toggler-border-color: transparent;
}

.position-arrow-start {
    top: 50%;
    left: 2% !important;
}

.position-arrow-end {
    top: 50%;
    left: 99% !important;
}

@media (max-width: 576px) {
    .position-arrow-end,
    .position-arrow-start {
        top: 100% !important;
    }

    .position-arrow-start {
        left: inherit !important;
        right: 40% !important;
        margin-inline-end: 0.5rem;
    }

    .position-arrow-end {
        right: inherit !important;
        left: 60% !important;
    }
}

.glide__track {
    max-width: 1210px;
    margin: 0 auto;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.about-line:after {
    background-color: currentColor;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    top: 0;
    -webkit-transition-duration: inherit;
    -o-transition-duration: inherit;
    transition-duration: inherit;
    translate: -50%;
    width: 0%;
    animation: aboutLine 1s 3s alternate forwards;
}

@keyframes aboutLine {
    100% {
        width: 50%;
    }
}

#about {
    background: url("/img/section-bg-7.svg") left bottom / auto no-repeat;
}

.section-prices {
    background-image: url("/img/Vector.svg"), url("/img/square.svg");
    background-position:
        right calc(50% - 50vw) bottom,
        left center;
    background-size: auto, auto;
    background-repeat: no-repeat, no-repeat;
}

.consultation-body-number {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 120px;
    color: $secondary;
}

.section-reserve {
    background-image: url("/img/squareBig.svg");
    background-position: right calc(55% - 50vw) top;
    background-size: auto;
    background-repeat: no-repeat;
    animation: moveBackground 5s infinite linear; /* Применяем анимацию с временем и бесконечным повторением */
}

@keyframes moveBackground {
    0% {
        background-position: right calc(55% - 50vw) top; /* Начальная позиция */
    }
    25% {
        background-position: right calc(53% - 50vw) top -50px; /* Промежуточная позиция */
    }
    50% {
        background-position: right calc(51% - 50vw) top ; /* Промежуточная позиция */
    }
    75% {
        background-position: right calc(53% - 50vw) top 50px; /* Промежуточная позиция */
    }
    100% {
        background-position: right calc(55% - 50vw) top; /* Конечная позиция */
    }
}
